FIREBASE_API_KEY=AIzaSyBs7fwDW-spLNaNhcgDt_wQ_4d2akI14w8
FIREBASE_AUTH_DOMAIN=vitrine-virtual-7a61f.firebaseapp.com
FIREBASE_PROJECT_ID=vitrine-virtual-7a61f
FIREBASE_STORAGE_BUCKET=vitrine-virtual-7a61f.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=875826655937
FIREBASE_APP_ID=1:875826655937:web:50666abba2bbfafa329a40
STRIPE_PUBLISHABLE_KEY=pk_test_placeholder
STRIPE_SECRET_KEY=sk_test_placeholder
STRIPE_WEBHOOK_SECRET=whsec_placeholder